/* =============================================================================
   H5BP Normalizer
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #ab2012; color: #fff; text-shadow: none; }
::selection { background: #ab2012; color: #fff; text-shadow: none; }

/* Links */
a { color: #2445AD; }
a:visited { color: #2445AD; }
a:hover { color: #2445AD; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }


/* Typography */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* Lists */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* Forms */
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Misc */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== x61.fr's styles ====================================================
   Author: Arnaud Brousseau
   ========================================================================== */

/* Let's begin with the logo */
body {
  border-top: 30px #ab2012 solid;
  font-family: 'Georgia', 'georgia', serif;
}
.wrapper {
  width: 70%;
  max-width: 960px;
  margin: 20px auto;
  word-wrap: break-word;
}

.logo {
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 7px;
  padding: 3px 12px 10px 12px;
  margin: 0;
  border: 2px #fff solid;
  font-family: monospace;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  border-radius: 60px;
  background-color: #ab2013;
  color: #fff;
  text-shadow: 0 -2px 2px #444;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.logo:hover {
    border: 24px #fff solid;
    left: -15px;
    top: -15px;
}

.main nav {
  width: 70%;
  margin: 0 auto;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  text-shadow: 0 -1px 1px #444;
}
.main ul {
  position: absolute;
  top: -35px;
  right: 0;
}

.main nav li {
  display: inline-block;
  position: relative;
  padding: 3px 14px;
}
.main nav li:before {
    content: '/';
    color: white;
    display: block;
    position: absolute;
    top: -10px;
    left: -10px;
    font-size: 41px;
}
.main nav a {
  color: #fff;
  text-decoration: none;
}
.main nav a:hover {
  border-width: 3px;
}
.main nav a:active {
  border-width: 5px;
}
.main nav a:visited {
  color: #fff;
}

/* Index pages for labs and notes, `page-title` also applies to article's titles */
.page-title {
  text-align: center;
  font-size: 3em;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 0.3em;
  border-bottom: 1px #999 solid;
  margin: 35px 0 10px 0;
}
.page-callout p {
  margin: 0;
  font-size: 1.2em;
}

.content-card {
  padding: 10px;
  margin: 1.5em 0 2em 0;
  border-radius: 8px;
  background-color: #efefef;
}
.content-card .title {
  margin: 0;
  padding: 10px 10px 20px 10px;
  font-size: 2em;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  border-bottom: 1px #999 solid;
}
.content-card .link {
  display: block;
  text-decoration: none;
  color: #222;
}
.content-card .description {
  padding-left: 10px;
  margin: 20px 0 0 0;
}
.content-card .cta {
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0 0 0;
}
.content-card .cta:hover {
  text-decoration: underline;
}

/* Now the main content - in a note*/
.note-date {
  display: block;
  text-align: center;
  margin-top: -5px;
  margin-bottom: 50px;
}
.note-content {
  font-size: 1.1em;
  max-width: 550px;
}
.note-content h2,
.note-content h3,
.note-content h4,
.note-content h5,
.note-content h6 {
  font-family: 'Open Sans', sans-serif;
}
.note-content h2 {
  margin-top: 1.5em;
  color: #ab2012;
  font-weight: normal;
}
.note-content pre,
.note-content p,
.note-content img, 
.note-content blockquote,
.note-content ul,
.note-content ol {
  width: 90%;
  margin: 1.42em auto;
}
.note-content p, .note-content img, .note-content pre {
  width: 100%;
}
.note-content pre {
  border-radius: 4px;
  overflow-x: auto;
  font-size: .7em;
  display: block;
  background: #efefef;
  color: #222;
  padding: 1em;
  border: 1px #ccc solid;
}
.note-content code {
  font-size: .9em;
  padding: 2px 4px;
  background: #eee;
  border-radius: 2px;
}
.note-content blockquote {
  padding-left: 1.2em;
  border-left: .5em #ab2012 solid;
  margin: 1em;
}
.note-content img {
  display: block;
  max-width: 100%;
  width: auto !important;
  padding: 0.3em;
  border: 1px #CCC solid;
  border-radius: 2px;
}
.note-content li {
    margin: 0.5em 0;
}
.note .comment {
  margin: 70px auto;
  background: #ddd;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  padding: 2% 2%;
}

/* And da footer */
footer.main {
  position: relative;
  background-color: #ab2012;
  padding: 5px 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
  color: white;
  text-shadow: 0 -1px 1px #444;
}
footer.main a {
  color: #fff;
}

/* Now the fun part */
.hack {
  min-height: 250px;
  font-family: monospace;
  line-height: 0.95;
}
.hack h1 {
  font-size: 54px;
  position: absolute;
  top: 60px;
  left: 50%;
  width: 300px;
  margin-left: -150px; /* =300 % 2 */
  text-align: center;
  z-index: 1;
}
.hack img {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 200px;
  margin-left: -100px; /* =200 % 2 */
  z-index: 1;
}
.hack #matrix {
  display: inline;
  word-break: break-word;
  word-wrap: break-word;
  color: #aaa;
  letter-spacing: 8px;
  /* Mmm, latest CSS sweetness */
  -webkit-mask-image: -webkit-gradient(linear, left top, right top,
    from(rgba(0,0,0,0)),
    color-stop(0.15, rgba(0,0,0,1)),
    color-stop(0.75, rgba(0,0,0,1)),
    to(rgba(0,0,0,0)));
  mask: url(#matrix);
}
.hack #matrix b {
  color: #ab2012;
  font-weight: bold;
}


/* ==|== media queries ======================================================
   Soooo hipster.
   ========================================================================== */
@media only screen and (max-width: 710px) {
  .main .logo {
    visibility: hidden;
  }
  .wrapper {
    width: 90%;
  }
  .main nav {
    font-size: 20px;
    width: 90%;
  }
  .main ul {
    top: -34px;
  }
}

@media only screen and (max-width: 400px) {
  .main nav {
    font-size: 18px;
    width: 100%;
  }
  .main nav li {
      padding: 3px 8px;
  }
  .main nav li:before {
    top: -10px;
    left: -10px;
    font-size: 39px;
  }
  .main ul {
    top: -32px;
  }
}

/* ==|== non-semantic helper classes ========================================
   Do I need this? Hmmm.
   ========================================================================== */

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
