    </div>

    <footer class="main">
    Copyright &copy; Arnaud Brousseau &mdash; Hosted on a tiny, free, organic <a target="_blank" href="http://aws.amazon.com/">EC2</a> instance &mdash; Open-sourced on <a target="_blank" href="https://github.com/ArnaudBrousseau/x61.fr">my GitHub</a> &mdash; Have a nice day!
    </footer>

    <!-- GA stuff -->
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
