    </div>

    <footer class="main">
        Copyright &copy;
        <a href="http://arnaudbrousseau.com" target="_blank" title="Online Home">Arnaud Brousseau</a>
        &mdash; Hosted on a tiny, free, organic <a target="_blank" href="http://aws.amazon.com/">EC2</a> instance
        &mdash; Open-sourced on <a target="_blank" href="https://github.com/ArnaudBrousseau/x61.fr">my GitHub</a>
        &mdash; Have a nice day!
    </footer>

    <!-- GA stuff -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44990968-1', 'x61.fr');
      ga('send', 'pageview');
    </script>
  </body>
</html>
