<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{{title}}}</title>
    <meta name="description" 
          content="{{{description}}}">
    <meta name="author" content="Arnaud Brousseau">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/a.css?v=2.5.1">

  </head>
  <body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    <header class="main">
      <h1 class="logo">
        a
      </h1>
      <nav>
        <ul>
          <li>
            <a href="/" title="Hackspace Home">Home</a>
          </li>
          <li>
            <a href="/labs" title="Science? Boom!">Labs</a>
          </li>
          <li>
            <a href="/notes" title="Random Thoughts">Notes</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="{{{classname}}}">
