<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>0x61.fr — Hack Space</title>
    <meta name="description" 
          content="0x61.fr is Arnaud Brousseau's Hack Space. Welcome!">
    <meta name="author" content="Arnaud Brousseau">
  
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body>
    {{{content}}}
  </body>
</html>