  <header>
    <h1 class="page-title">{{title}}</h1>
    <em class="note-date">Last edited on <time datetime="{{date-microdata}}">{{date-human}}</time></em>
  </header>

  <div class="note-content">
    {{{note}}}
  </div>

  <div class="comment">
      Got something to say? Drop a line on my twitter (<a href="https://twitter.com/arnaudbrousseau/" target="_blank">@arnaudbrousseau</a>)
  </div>

  <link href="/css/shCoreMidnight.css" rel="stylesheet" type="text/css" />
  <script src="/js/front/shCore.js" type="text/javascript"></script>
  <script src="/js/front/shAutoloader.js" type="text/javascript"></script>
  <script type="text/javascript">
    SyntaxHighlighter.autoloader(
      'js jscript javascript  /js/front/shBrushJScript.js',
      'python                 /js/front/shBrushPython.js',
      'plain                 /js/front/shBrushPlain.js',
      'css                    /js/shBrushCss.js'
    );
    SyntaxHighlighter.all();
  </script>
